// @import 'libs/bootstrap-reboot.min';
// @import 'libs/font';
@import 'libs/slick';
// @import 'libs/animate';

@import 'base/variables';
// @import 'base/animations';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/advice';
@import 'blocks/managers';
@import 'blocks/scheme-work';
@import 'blocks/map';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/question';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/humburger';