.carusel {
    padding: 51px 20px 65px;
    
    &__title {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        color: #2e2e2e;
    }
    &__line {
    }
    &__subtitle {
        margin-top: 17px;
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        color: #2e2e2e;
    }   
    &__inner {
        margin-top: 31px;
        display: flex;
        justify-content: center;
        .arrow__left {
            background: #fff;
            border: none;
            outline: none;
            img {
                display: block;;
                width: 20px;
                height: 40px;
            }
        }
        .arrow__right {
            background: #fff;
            border: none;
            outline: none;
            img {
                display: block;;
                width: 20px;
                height: 40px;
            }
        }
    }
    &__item {
        display: none;
        width: 80%;
        margin: 0 22.5px;
        img {
            display: block;;
            margin: 0 auto;
            border-radius: 100%;
            width: 114px;
            height: 114px;
        } 
    }
    &__descr {
        margin-top: 19px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.57;
        text-align: justify;
        color: #3a3a3a;
        span {
            display: block;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }
    }
    .active {
        display: block;
    }
    
}
