.promo {
    padding: 23px 0 82px 0;
    // display: flex;
    // flex-direction: column;
    background: url("../img/header/header_bg.jpg") center center/cover no-repeat;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &__logo {
            width: 95px;
            img {
                width: 100%;
            }
        }
        .menu {
            display: flex;
            &__item {
                list-style-type: none;
                    // margin-right: 28px;
                &::after {
                        // border-right: 2px dashed red ;
                    content: '';
                    border-right: 1px dashed #ffffff;
                    margin-left: 14px;
                    margin-right: 12px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            &__link {
                font-family: Roboto;
                font-size: 15px;
                font-weight: normal;
                color: #ffffff;
                text-decoration: none;
            }
        }
        .header__contacts {
            &-text {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.71;
                letter-spacing: normal;
                text-align: right;
                color: #ffffff;
            }
            &-number {
                font-family: Roboto;
                font-size: 19px;
                font-weight: bold;
                text-align: right;
                color: #ffffff;
            }
        }
    }
    .btn__menu {
        padding: 18px 23px;
         background-color: #ec644b;
         font-size: 12px;
    }    
.promo__wrapper {
    padding-top: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    &__sup-title {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 300;
        color: #ffffff;
        }
    &__title {
        margin-top: 26px;
        font-family: Roboto;
        font-size: 72px;
        font-weight: bold;
        color: #ec644b;
        }
    &__sub-title {
        margin-top: 9px;
        font-family: Roboto;
        font-size: 42px;
        font-weight: normal;
        color: #ffffff;
        }
    &__icons {
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        text-align: center;
        width: 260px;
                
        img {
            display: block;
            // height: 100%;
            width: 60px;
            height: 50px;
            margin: 0 auto;
            
        }
    }
    &__text {
        margin-top: 20px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.38;
        color: #ffffff;
    }
    &__img-line {
        max-width: 809px;
        margin: 38px 0 27px 0;
    }
    .btn__promo {
        margin-top: 39px;
        padding: 23px 45px;
        background-color: #ec644b;
    }

    }
    

.btn {
    background-color: #ec644b;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
