.promo {
    padding: 23px 0 82px 0;
    background: url("../img/header/header_bg.jpg") center center/cover no-repeat;
    &__wrapper {
        padding-top: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    &__sup-title {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 300;
        color: $text-color;
        }
    &__title {
        margin-top: 26px;
        font-family: Roboto;
        font-size: 72px;
        font-weight: bold;
        color: $main-color;
        }
    &__sub-title {
        margin-top: 9px;
        font-family: Roboto;
        font-size: 42px;
        font-weight: normal;
        color: $text-color;
        }
    &__icons {
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        text-align: center;
        width: 260px; 
        img {
            display: block;
            width: 60px;
            height: 50px;
            margin: 0 auto;
        }
    }
    &__text {
        margin-top: 20px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.38;
        color: $text-color;
    }
    &__img-line {
        max-width: 809px;
        margin: 38px 0 27px 0;
    }
}
    

