.question {
    padding: 62px 0 79px 0;
    width: 100%;
    background: url("../img/plane.jpg") center (center/cover) no-repeat;
    &__wrapper {
        margin: 0 auto;
        width: 896px;
        background-color: rgba($color: #fff, $alpha: .7);
    }
    &__title {
        padding: 20px 0 19px;
        background-color: #25333c;
        font-family: Roboto;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        color: $text-color;
        text-transform: uppercase;
    }
    &__subtitle {
        display: block;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        color: $text-color;
    }
}